/* font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */


body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.wrapping{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}
.faxible-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-item{
    width: 50%;
}
.top-mission{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    border-left: 4px solid tomato;
    padding-left: 15px;
}
.mission-22{
    color: #C9717C;
}

.left-item .my-self-top{
    margin-bottom: 30px;
}
.left-item .my-self-bottom{
    margin-top: 40px;
}

.left-item a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 35px;
    border-radius: 5px;
}
.right-item{
    width: 50%;
}
section .right-item .my-pic{
    margin-left: 150px;
}


/* second section */

.sec-2 h1{
    font-size: 48px;
    text-align: center;
}
.sec-2 h1 .year{
    color: #C9717C;
}
.sec-2 .mission-vission div{
    width: 32%;
    border-radius: 30px;
    padding: 30px 25px;
    box-sizing: border-box;
}
.sec-2 .mission-vission div img{
    height: 130px;
}
.sec-2 .mission-vission div h3{
    font-size: 24px;
}
.sec-2 .mission-vission div p{
    font-size: 16px;
}
.sec-2 .mission-vission .mission{
    background-color: #D9D7F1;
}
.sec-2 .mission-vission .vission{
    background-color: #F4DFBA;
}
.sec-2 .mission-vission .goals{
    background-color: #E7FBBE;
}