/* font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */


body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapping{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
}
.faxible-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-item{
    width: 50%;
}
.top-mission{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
}
.mission-22{
    color: #C9717C;
}

.left-item a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 35px;
    border-radius: 5px;
}
.right-item{
    width: 50%;
}
section .right-item .my-self{
    margin-left: 150px;
}


/* second section */

.sec-2 h1{
    font-size: 48px;
    text-align: center;
}
.sec-2 h1 .year{
    color: #C9717C;
}
.sec-2 .mission-vission div{
    width: 30%;
    /* height: 400px; */
    border-radius: 30px;
    /* padding: 30px 40px; */
    background-color: rgb(236, 255, 127);
}
.sec-2 .mission-vission div img{
    height: 130px;
}
.sec-2 .mission-vission div h3{
    font-size: 24px;
}
.sec-2 .mission-vission div p{
    font-size: 16px;
}