body {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

/* ######### Utility Classes applyed ######## */

h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 16px;
  color: #4b4b4c;
  margin-bottom: 30px;
}

.wrapping {
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}
.faxible-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mission-22 {
  color: #c9717c;
}

.button {
  text-decoration: none;
  color: white;
  background-color: tomato;
  padding: 10px 35px;
  border-radius: 5px;
}

.half-area {
  width: 50%;
}

/* ######### Utility Classes end ######## */

.top-mission {
  font-family: "Yeseva One";
  border-left: 4px solid tomato;
  padding-left: 15px;
  margin: 0 0 30px 0;
}

.text-bottom {
  margin-top: 40px;
  margin-bottom: 0px;
}

section .man-img .my-pic {
  margin-left: 150px;
}

/* my mission section */

.sec-2 .my-mission {
  text-align: center;
}

.mission-vision div {
  width: 32%;
  border-radius: 30px;
  padding: 20px 25px;
  box-sizing: border-box;
}
.mission-vision div img {
  height: 130px;
}
.mission-vision div .mission-title {
  margin: 12px 0;
  font-weight: 600;
}

.mission-vision .mission {
  background-color: #d9d7f1;
}
.mission-vision .vision {
  background-color: #f4dfba;
}
.mission-vision .goals {
  background-color: #e7fbbe;
}

/* Develop Without Limits */
.service-one {
    padding-top: 50px;
    background-image: url(../images/shape-1.png), url(../images/shape.png);
    background-repeat: no-repeat;
    background-size: 230px, auto;
    background-position-x: 3%, 100%;
    background-position-y: 60%, -10%;
}

.service-img {
  width: 35%;
}
.service-img img {
  width: 100%;
}
.service-content {
  width: 60%;
}
.service-content h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
}
.service-content .sec-line {
  display: block;
}


.service-two{
    padding-top: 50px;
    background-image: url(../images/shape.png), url(../images/shape-1.png);
    background-repeat: no-repeat;
    background-size: auto, 250px;
    background-position-x: 0, 98%;
    background-position-y: -10%, 125%;
}

/* ###### extra code are add for assignment ###### */

.paypal-font {
  font-size: 48px;
  text-align: center;
}
.text-color {
  color: #fec539;
}

.half-area {
  width: 50%;
}
.pay-paypal {
  line-height: 55px;
  margin-bottom: 12px;
}
.pay-paypal span {
  color: #fec539;
}

/* footer area*/

.footer {
  height: 170px;
  margin-top: 50px;
  padding-top: 50px;
  background-color: black;
}

.footer h3 {
  color: white;
  font-family: "Lobster";
  text-align: center;
}
.footer p {
  font-size: 14px;
  color: white;
  text-align: center;
}
