/* font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */


body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.wrapping{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}
.faxible-area{
    display: flex;
    align-items: center;
}

.left-item{
    width: 50%;
}
.top-mission{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
}
.mission-22{
    color: #C9717C;
}

.left-item a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 35px;
    border-radius: 5px;
    /* margin-top: 10px;
    margin-bottom: 20px; */
}
.right-item{
    width: 50%;
}

