body{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.wrapping{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}
.faxible-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-item{
    width: 50%;
}
.left-item .top-mission{
    font-family: 'Yeseva One';
    font-size: 60px;
    border-left: 4px solid tomato;
    padding-left: 15px;
}
.mission-22{
    color: #C9717C;
}

.text-top{
    margin-bottom: 30px;
}
.text-bottom{
    font: 16px;
    margin-top: 40px;
}

.button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 35px;
    border-radius: 5px;
}
.right-item{
    width: 50%;
}
section .right-item .my-pic{
    margin-left: 150px;
}


/* my mission section */

.sec-2 h1{
    font-size: 48px;
    text-align: center;
}
.sec-2 h1 .year{
    color: #C9717C;
}
.sec-2 .mission-vision div{
    width: 32%;
    border-radius: 30px;
    padding: 30px 25px;
    box-sizing: border-box;
}
.sec-2 .mission-vision div img{
    height: 130px;
}
.sec-2 .mission-vision div h3{
    font-size: 24px;
    margin: 12px 0;
}
.sec-2 .mission-vision div p{
    font-size: 16px;
}
.sec-2 .mission-vision .mission{
    background-color: #D9D7F1;
}
.sec-2 .mission-vision .vision{
    background-color: #F4DFBA;
}
.sec-2 .mission-vision .goals{
    background-color: #E7FBBE;
}

/* Develop Without Limits */

.service-img{
    width: 35%;
}
.service-img img{
    width: 100%;
}
.service-content{
    width: 60%;
}
.service-content h2{
    font-size: 30px;
    font-weight: 700;
}
.service-content span{
    display: block;
}


/* footer area*/

.footer{
    height: 170px;
    margin-top: 100px;
    padding-top: 50px;
    background-color: black;
}

.footer h2{
    color: white;
    font-family: 'Lobster';
    text-align: center;
}
.footer span{
    color: #C9717C;
}
.footer p{
    font-size: 14px;
    color: white;
    text-align: center;
}